.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#scale{
    position:absolute;  
    z-index:1;
}

#canvas{
    position:relative;
    width:800px;
    height:136.97px;  
    z-index:20;
}

.bar {
    padding-top: 2em;
    display: flex;
    align-items: center;
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: stretch;
    margin: auto;
}



.choice {
    width: 10em;
    height: 8em;
    font-size: 1em;
    font-family: sans-serif;
    position: relative;
}

.choice div {
  position: absolute;
  top: 65%;
  border-top: solid;
  padding-top: 0.5em;
}

.choice svg {
    position: absolute;
    top: 0;
    left: 0;
}

.choice circle {
    r: 0.7em;
    cx: 50%;
    cy: 50%;
    stroke: black;
    stroke-width: 0.15em;
    content: 1;
}

.choice .empty-circle {
    fill: transparent;
}

.choice svg .filled-circle {
    fill: red;
}